.Container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.Title {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    gap: 1ch;
}

.Details {
    margin-top: 8px;
    text-align: center;
}
