.Container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-lev-1);
    background-color: var(--paper-white-color);
}

.Title {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    gap: 1ch;
}
