.Button {
  background: #fff;
  border: 1px solid #aaa;
  padding: 8px 16px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
  transition: .2s;

  &:hover {
    opacity: 0.7;
    background: #f8f8f8;
  }
}
