.ContentWrapper {
  --content-width: 100%;
  --padding-container: 32px;
  --padding-inline: var(--padding-container);

  @media (min-width: 980px) {
    --content-width: clamp(980px, 60vw, 1280px);
    --padding-inline: 0px;
  }

  margin-inline: auto;
  width: var(--content-width);
  padding: var(--padding-container) var(--padding-inline);
}
