.Container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ListItems {
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
